<!DOCTYPE html>
<html>
  <head>
    <title>Header transform</title>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <div class="plus-btn-pos">
      <div class="plus-btn">
        <div class="r1"></div>
        <div class="r2"></div>
      </div>
    </div>
    <div class="content">
      <div>
        <h1>Fullscreen</h1>
        <h2>Flexbox</h2>
      </div>
    </div>
    <div class="menu-container">
      <div class="menu-sliders"></div>
      <div class="menu-sliders"></div>
      <div class="menu-sliders">   </div>
      <div class="menu">
        <ul>
          <li><a>Home</a></li>
          <li><a>About</a></li>
          <li><a>Work</a></li>
          <li><a>Contact</a></li>
        </ul>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">       </script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
