<!DOCTYPE html>
html
  head
    title
    link(rel="stylesheet" href="hamburger.radial.css")
  body
    nav(class="circular-menu")
      //transform(0) 
      div(class="circle")
        //just changing the icon for each option
        a(href="" class="fa fa-home fa-2x")
        a(href="" class="fa fa-facebook fa-2x")
        a(href="" class="fa fa-twitter fa-2x")
        a(href="" class="fa fa-linkedin fa-2x")
        a(href="" class="fa fa-github fa-2x")
        a(href="" class="fa fa-rss fa-2x")
        a(href="" class="fa fa-pinterest fa-2x")
        a(href="" class="fa fa-asterisk fa-2x")
      a(href="" class="menu-button fa fa-bars fa-2x")
    script(src="js/hamburgerRadial.js" charset="utf-8")
  
