<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="hamburger.radial.css"/>
  </head>
  <body>
    <nav class="circular-menu">
      <!--transform(0) -->
      <div class="circle">
        <!--just changing the icon for each option--><a class="fa fa-home fa-2x" href=""></a><a class="fa fa-facebook fa-2x" href=""></a><a class="fa fa-twitter fa-2x" href=""></a><a class="fa fa-linkedin fa-2x" href=""></a><a class="fa fa-github fa-2x" href=""></a><a class="fa fa-rss fa-2x" href=""></a><a class="fa fa-pinterest fa-2x" href=""></a><a class="fa fa-asterisk fa-2x" href=""></a>
      </div><a class="menu-button fa fa-bars fa-2x" href=""></a>
    </nav>
    <script src="js/hamburgerRadial.js" charset="utf-8"></script>
  </body>
</html>