<!DOCTYPE html>
html
  head
    title Header transform
    link(rel="stylesheet" href="style.css")
  body
    .plus-btn-pos
      .plus-btn
        .r1
        .r2
    .content
      div
        h1 Fullscreen
        h2 Flexbox
    .menu-container
      .menu-sliders
      .menu-sliders
      .menu-sliders    
      .menu
        ul
          li
            a Home
          li
            a About
          li
            a Work
          li
            a Contact
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")        
    script(src="script.js" charset="utf-8")
